body {
  margin: 0;
  font-family: 'Paytone One';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Paytone One';
}

#root {
  height: 100%;
  width: 100%;
}