@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');

body {
  margin: 0;
  font-family: 'Paytone One', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Paytone One', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}